.registration-container {
  background-color: #3e69d1;
  width: 100vw;
  height: 87vw;
}

.title-registration {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;

  color: #ffffff;
}

.inputregistrationmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  height: 6rem;
  border: none;
  background: #ffffff;
  border-radius: 5rem;

  text-align: center;
  font-size: 1.5rem;
  color: #041678;
}

.inputregistrationpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  width: 40rem;
  height: 6rem;
  border: none;
  background: #ffffff;
  border-radius: 5rem;

  text-align: center;
  font-size: 1.8rem;
  color: #041678;
}

.inputconfirmpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  width: 40rem;
  height: 6rem;
  border: none;
  background: #ffffff;
  border-radius: 5rem;

  text-align: center;
  font-size: 1.5rem;
  color: #041678;
}

.button-validate-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  width: 15rem;
  height: 5rem;
  background: #041678;
  border-radius: 5rem;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;
  color: #ffffff;
}

.image-registration-green {
  position: absolute;
  width: 35%;
  left: 48rem;
  top: 50.25rem;

  background: url(image_connexion_green.png);
}