.registration-container {
  background-color: #3e69d1;
  width: 100vw;
  height: 1024px;
}

.title-registration {
  position: absolute;
  width: 1440px;
  height: 130px;
  left: 0px;
  top: 244px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #ffffff;
}

.inputregistrationmail {
  position: absolute;
  width: 620px;
  height: 106px;
  left: 410px;
  top: 338px;
  border: none;
  background: #ffffff;
  border-radius: 70px;

  text-align: center;
  font-size: 1.8rem;
  color: #041678;
}

.inputregistrationpassword {
  position: absolute;
  width: 620px;
  height: 106px;
  left: 410px;
  top: 490px;
  border: none;
  background: #ffffff;
  border-radius: 70px;

  text-align: center;
  font-size: 1.8rem;
  color: #041678;
}

.inputconfirmpassword {
  position: absolute;
  width: 620px;
  height: 106px;
  left: 410px;
  top: 642px;
  border: none;
  background: #ffffff;
  border-radius: 70px;

  text-align: center;
  font-size: 1.8rem;
  color: #041678;
}

.button-validate-registration {
  position: absolute;
  width: 284px;
  height: 92px;
  left: 578px;
  top: 796px;
  background: #041678;
  border-radius: 46px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}
