* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 0.2em;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: white;
}
