@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

<<<<<<< Updated upstream
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 0.2em;
}
=======

>>>>>>> Stashed changes

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: white;
}
